<a href="https://colab.research.google.com/github/Kubick8/Mailbird/blob/main/PredictedDataCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import LabelEncoder

df=pd.read_csv('https://raw.githubusercontent.com/Kubick8/Python/main/Dataset1.csv')
df = df.dropna()
data_column_category = df.select_dtypes(exclude=[np.number]).columns
label_encoder = LabelEncoder()
for i in data_column_category:
  df[i] = label_encoder.fit_transform(df[i])
X=df.drop('Customer', axis=1)
y=df['Customer']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1, random_state=0)

model=LogisticRegression()
model.fit(X_train,y_train)
y_predicted=model.predict(X_test)
model.score(X_test,y_test)
cm=confusion_matrix(y_test,y_predicted)
cm

d2 = pd.read_csv('https://raw.githubusercontent.com/Kubick8/Python/main/Dataset2.csv')
d2 = d2.drop('Customer', axis=1)
d2 = d2.dropna()
data_column = d2.select_dtypes(exclude=[np.number]).columns
label_encoder = LabelEncoder()
for i in data_column:
  d2[i] = label_encoder.fit_transform(d2[i])
dataset2Features = d2.values.tolist()
dataset2Features

predictForDataset2 = model.predict(dataset2Features)
d2['CustomerPred'] = predictForDataset2
d2.to_csv('Dataset2WithPredictions')
d2

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

     ESP  Sex   Age  Account   Revenue  Yestivated  CustomerPred
1      2    0  65.0        4    7.0000           0             1
3      2    1  45.0        2    8.6625           0             0
4      2    0  40.0        4   12.2875           0             1
5      2    1  32.0        2    9.2250           0             0
7      1    1  44.0        4   29.0000           0             0
..   ...  ...   ...      ...       ...         ...           ...
413    2    1  18.0        2    8.0500           0             0
414    0    0  57.0        2  108.9000           1             1
415    2    1  56.5        2    7.2500           0             0
416    2    1  18.0        2    8.0500           0             0
417    2    1  18.0        4   22.3583           1             0

[371 rows x 7 columns]